{% extends "webs/base.html" %}

{% block content %}
<style>
    .periodic_table {
        display: grid;
        grid-template-columns: repeat(18, minmax(0, 1fr));
        grid-template-rows: repeat(10, minmax(0, 1fr));
        gap: 6px;
        padding: 10px;
    }

    .element_card {
        border:1px solid #333; 
        border-radius: 6px;
        padding: 4px;
        text-align: center;
        background-color: #1e1e2f;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        aspect-ratio: 1 / 1;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }

    .number {
        font-size: 0.65rem;
        text-align: left;
        color: #aaa;
    }

    .symbol {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .name {
        font-size: 0.55rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #ddd;
    }
</style>

<div class="periodic_table">
    {% for element in elements %}
        <div class="element_card" style="grid-column: {{ elements.xpos }}; grid-row: {{ element.ypos }}">
            <span class="number">{{ elements.number }}</span>
            <span class="symbol">{{ elements.symbol }}</span>
            <span class="name">{{ elements.name }}</span>
            <span class="atomic_mass">{{ elements.atomic_mass }}</span>
        </div>
    {% endfor %}
</div>
{% endblock content %}
